rem(value)
  if value == 'auto'
    auto
  else if value == 'inherit'
    inherit
  else
    unit = unit(value)
    if unit is 'px'
      unit(floor((value / 16), 3), 'rem')
    else
      unit(value, unit)


tracking(value)
  unit(floor((value / 1000), 3), 'em')


size(value1, value2)
  width: rem(value1)
  height: rem(value2)


relative(value1, value2, value3, value4)
  position: relative
  top: rem(value1)
  right: rem(value2)
  bottom: rem(value3)
  left: rem(value4)


absolute(value1, value2, value3, value4, value5)
  position: absolute
  unless value1 == no
    top: rem(value1)
  unless value2 == no
    right: rem(value2)
  unless value3 == no
    bottom: rem(value3)
  unless value4 == no
    left: rem(value4)
  unless value5 == no
    z-index: value5


fixed(value1, value2, value3, value4, value5)
  position: fixed
  unless value1 == no
    top: rem(value1)
  unless value2 == no
    right: rem(value2)
  unless value3 == no
    bottom: rem(value3)
  unless value4 == no
    left: rem(value4)
  unless value5 == no
    z-index: value5
