@import 'variables/_colors.styl'
@import 'variables/_sizes.styl'
@import 'variables/_parameters.styl'
@import 'variables/_initiator.styl'

@import 'mixins/_rem.styl'
@import 'mixins/_media.styl'
@import 'mixins/_composer.styl'

+composer(initiator__animation)

  +composer(animation__bounce)
    @keyframes bounce
      from, 20%, 53%, 80%, to
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
        transform: translate3d(0, 0, 0)
      40%, 43%
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06)
        transform: translate3d(0, -30px, 0)
      70%
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06)
        transform: translate3d(0, -15px, 0)
      90%
        transform: translate3d(0, -4px, 0)


  +composer(animation__flash)
    @keyframes flash
      from, 50%, to
        opacity: 1
      25%, 75%
        opacity: 0


  +composer(animation__head-shake)
    @keyframes headShake
      0%
        transform: translateX(0)
      6.5%
        transform: translateX(-6px) rotateY(-9deg)
      18.5%
        transform: translateX(5px) rotateY(7deg)
      31.5%
        transform: translateX(-3px) rotateY(-5deg)
      43.5%
        transform: translateX(2px) rotateY(3deg)
      50%
        transform: translateX(0)


  +composer(animation__jello)
    @keyframes jello
      from, 11.1%, to
        transform: translate3d(0, 0, 0)
      22.2%
        transform: skewX(-12.5deg) skewY(-12.5deg)
      33.3%
        transform: skewX(6.25deg) skewY(6.25deg)
      44.4%
        transform: skewX(-3.125deg) skewY(-3.125deg)
      55.5%
        transform: skewX(1.5625deg) skewY(1.5625deg)
      66.6%
        transform: skewX(-0.78125deg) skewY(-0.78125deg)
      77.7%
        transform: skewX(0.390625deg) skewY(0.390625deg)
      88.8%
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg)


  +composer(animation__pulse)
    @keyframes pulse
      from
        transform: scale3d(1, 1, 1)
      50%
        transform: scale3d(1.05, 1.05, 1.05)
      to
        transform: scale3d(1, 1, 1)


  +composer(animation__rubber-band)
    @keyframes rubberBand
      from
        transform: scale3d(1, 1, 1)
      30%
        transform: scale3d(1.25, 0.75, 1)
      40%
        transform: scale3d(0.75, 1.25, 1)
      50%
        transform: scale3d(1.15, 0.85, 1)
      65%
        transform: scale3d(0.95, 1.05, 1)
      75%
        transform: scale3d(1.05, 0.95, 1)
      to
        transform: scale3d(1, 1, 1)


  +composer(animation__shake)
    @keyframes shake
      from, to
        transform: translate3d(0, 0, 0)
      10%, 30%, 50%, 70%, 90%
        transform: translate3d(-10px, 0, 0)
      20%, 40%, 60%, 80%
        transform: translate3d(10px, 0, 0)


  +composer(animation__swing)
    @keyframes swing
      20%
        transform: rotate3d(0, 0, 1, 15deg)
      40%
        transform: rotate3d(0, 0, 1, -10deg)
      60%
        transform: rotate3d(0, 0, 1, 5deg)
      80%
        transform: rotate3d(0, 0, 1, -5deg)
      to
        transform: rotate3d(0, 0, 1, 0deg)


  +composer(animation__tada)
    @keyframes tada
      from
        transform: scale3d(1, 1, 1)
      10%, 20%
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg)
      30%, 50%, 70%, 90%
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
      40%, 60%, 80%
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
      to
        transform: scale3d(1, 1, 1)


  +composer(animation__wobble)
    @keyframes wobble
      from
        transform: translate3d(0, 0, 0)
      15%
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg)
      30%
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg)
      45%
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg)
      60%
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg)
      75%
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg)
      to
        transform: translate3d(0, 0, 0)


  +composer(animation__bounce-in)
    @keyframes bounceIn
      from, 20%, 40%, 60%, 80%, to
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
      0%
        opacity: 0
        transform: scale3d(0.3, 0.3, 0.3)
      20%
        transform: scale3d(1.1, 1.1, 1.1)
      40%
        transform: scale3d(0.9, 0.9, 0.9)
      60%
        opacity: 1
        transform: scale3d(1.03, 1.03, 1.03)
      80%
        transform: scale3d(0.97, 0.97, 0.97)
      to
        opacity: 1
        transform: scale3d(1, 1, 1)


  +composer(animation__bounce-in-down)
    @keyframes bounceInDown
      from, 60%, 75%, 90%, to
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
      0%
        opacity: 0
        transform: translate3d(0, -3000px, 0)
      60%
        opacity: 1
        transform: translate3d(0, 25px, 0)
      75%
        transform: translate3d(0, -10px, 0)
      90%
        transform: translate3d(0, 5px, 0)
      to
        transform: translate3d(0, 0, 0)


  +composer(animation__bounce-in-left)
    @keyframes bounceInLeft
      from, 60%, 75%, 90%, to
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
      0%
        opacity: 0
        transform: translate3d(-3000px, 0, 0)
      60%
        opacity: 1
        transform: translate3d(25px, 0, 0)
      75%
        transform: translate3d(-10px, 0, 0)
      90%
        transform: translate3d(5px, 0, 0)
      to
        transform: translate3d(0, 0, 0)


  +composer(animation__bounce-in-right)
    @keyframes bounceInRight
      from, 60%, 75%, 90%, to
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
      from
        opacity: 0
        transform: translate3d(3000px, 0, 0)
      60%
        opacity: 1
        transform: translate3d(-25px, 0, 0)
      75%
        transform: translate3d(10px, 0, 0)
      90%
        transform: translate3d(-5px, 0, 0)
      to
        transform: translate3d(0, 0, 0)


  +composer(animation__bounce-in-up)
    @keyframes bounceInUp
      from, 60%, 75%, 90%, to
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
      from
        opacity: 0
        transform: translate3d(0, 3000px, 0)
      60%
        opacity: 1
        transform: translate3d(0, -20px, 0)
      75%
        transform: translate3d(0, 10px, 0)
      90%
        transform: translate3d(0, -5px, 0)
      to
        transform: translate3d(0, 0, 0)


  +composer(animation__bounce-out)
    @keyframes bounceOut
      20%
        transform: scale3d(0.9, 0.9, 0.9)
      50%, 55%
        opacity: 1
        transform: scale3d(1.1, 1.1, 1.1)
      to
        opacity: 0
        transform: scale3d(0.3, 0.3, 0.3)


  +composer(animation__bounce-out-down)
    @keyframes bounceOutDown
      20%
        transform: translate3d(0, 10px, 0)
      40%, 45%
        opacity: 1
        transform: translate3d(0, -20px, 0)
      to
        opacity: 0
        transform: translate3d(0, 2000px, 0)


  +composer(animation__bounce-out-left)
    @keyframes bounceOutLeft
      20%
        opacity: 1
        transform: translate3d(20px, 0, 0)
      to
        opacity: 0
        transform: translate3d(-2000px, 0, 0)


  +composer(animation__bounce-out-right)
    @keyframes bounceOutRight
      20%
        opacity: 1
        transform: translate3d(-20px, 0, 0)
      to
        opacity: 0
        transform: translate3d(2000px, 0, 0)


  +composer(animation__bounce-out-up)
    @keyframes bounceOutUp
      20%
        transform: translate3d(0, -10px, 0)
      40%, 45%
        opacity: 1
        transform: translate3d(0, 20px, 0)
      to
        opacity: 0
        transform: translate3d(0, -2000px, 0)


  +composer(animation__fade-in)
    @keyframes fadeIn
      from
        opacity: 0
      to
        opacity: 1


  +composer(animation__fade-in-down)
    @keyframes fadeInDown
      from
        opacity: 0
        transform: translate3d(0, -100%, 0)
      to
        opacity: 1
        transform: translate3d(0, 0, 0)


  +composer(animation__fade-in-down-big)
    @keyframes fadeInDownBig
      from
        opacity: 0
        transform: translate3d(0, -2000px, 0)
      to
        opacity: 1
        transform: translate3d(0, 0, 0)


  +composer(animation__fade-in-left)
    @keyframes fadeInLeft
      from
        opacity: 0
        transform: translate3d(-100%, 0, 0)
      to
        opacity: 1
        transform: translate3d(0, 0, 0)


  +composer(animation__fade-in-left-big)
    @keyframes fadeInLeftBig
      from
        opacity: 0
        transform: translate3d(-2000px, 0, 0)
      to
        opacity: 1
        transform: translate3d(0, 0, 0)


  +composer(animation__fade-in-right)
    @keyframes fadeInRight
      from
        opacity: 0
        transform: translate3d(100%, 0, 0)
      to
        opacity: 1
        transform: translate3d(0, 0, 0)


  +composer(animation__fade-in-right-big)
    @keyframes fadeInRightBig
      from
        opacity: 0
        transform: translate3d(2000px, 0, 0)
      to
        opacity: 1
        transform: translate3d(0, 0, 0)


  +composer(animation__fade-in-up)
    @keyframes fadeInUp
      from
        opacity: 0
        transform: translate3d(0, 100%, 0)
      to
        opacity: 1
        transform: translate3d(0, 0, 0)


  +composer(animation__fade-in-up-big)
    @keyframes fadeInUpBig
      from
        opacity: 0
        transform: translate3d(0, 2000px, 0)
      to
        opacity: 1
        transform: translate3d(0, 0, 0)


  +composer(animation__fade-out)
    @keyframes fadeOut
      from
        opacity: 1
      to
        opacity: 0


  +composer(animation__fade-out-down)
    @keyframes fadeOutDown
      from
        opacity: 1
      to
        opacity: 0
        transform: translate3d(0, 100%, 0)


  +composer(animation__fade-out-down-big)
    @keyframes fadeOutDownBig
      from
        opacity: 1
      to
        opacity: 0
        transform: translate3d(0, 2000px, 0)


  +composer(animation__fade-out-left)
    @keyframes fadeOutLeft
      from
        opacity: 1
      to
        opacity: 0
        transform: translate3d(-100%, 0, 0)


  +composer(animation__fade-out-left-big)
    @keyframes fadeOutLeftBig
      from
        opacity: 1
      to
        opacity: 0
        transform: translate3d(-2000px, 0, 0)


  +composer(animation__fade-out-right)
    @keyframes fadeOutRight
      from
        opacity: 1
      to
        opacity: 0
        transform: translate3d(100%, 0, 0)


  +composer(animation__fade-out-right-big)
    @keyframes fadeOutRightBig
      from
        opacity: 1
      to
        opacity: 0
        transform: translate3d(2000px, 0, 0)


  +composer(animation__fade-out-up)
    @keyframes fadeOutUp
      from
        opacity: 1
      to
        opacity: 0
        transform: translate3d(0, -100%, 0)


  +composer(animation__fade-out-up-big)
    @keyframes fadeOutUpBig
      from
        opacity: 1
      to
        opacity: 0
        transform: translate3d(0, -2000px, 0)
