@import 'variables/_colors.styl'
@import 'variables/_sizes.styl'
@import 'variables/_parameters.styl'
@import 'variables/_initiator.styl'

@import 'mixins/_rem.styl'
@import 'mixins/_media.styl'
@import 'mixins/_composer.styl'

+composer(initiator__animator)

  +composer(animator__bounce)
    .bounce
      animation-name: bounce
      transform-origin: center bottom


  +composer(animator__flash)
    .flash
      animation-name: flash


  +composer(animator__head-shake)
    .headShake
      animation-timing-function: ease-in-out
      animation-name: headShake


  +composer(animator__jello)
    .jello
      animation-name: jello
      transform-origin: center


  +composer(animator__pulse)
    .pulse
      animation-name: pulse


  +composer(animator__rubber-band)
    .rubberBand
      animation-name: rubberBand


  +composer(animator__shake)
    .shake
      animation-name: shake


  +composer(animator__swing)
    .swing
      transform-origin: top center
      animation-name: swing


  +composer(animator__tada)
    .tada
      animation-name: tada


  +composer(animator__wobble)
    .wobble
      animation-name: wobble
