@import 'variables/_sprite.styl'
@import 'mixins/_sprite.styl'
.sprite-icon
  sprite-image()
  background-repeat: no-repeat
  &--arrow-left
    sprite-position(sprite-arrow-left)
    sprite-width(sprite-arrow-left)
    sprite-height(sprite-arrow-left)
  &--arrow-right
    sprite-position(sprite-arrow-right)
    sprite-width(sprite-arrow-right)
    sprite-height(sprite-arrow-right)
  &--butterfly
    sprite-position(sprite-butterfly)
    sprite-width(sprite-butterfly)
    sprite-height(sprite-butterfly)
  &--cat
    sprite-position(sprite-cat)
    sprite-width(sprite-cat)
    sprite-height(sprite-cat)
  &--cloud
    sprite-position(sprite-cloud)
    sprite-width(sprite-cloud)
    sprite-height(sprite-cloud)
  &--cloud3
    sprite-position(sprite-cloud3)
    sprite-width(sprite-cloud3)
    sprite-height(sprite-cloud3)
  &--marker
    sprite-position(sprite-marker)
    sprite-width(sprite-marker)
    sprite-height(sprite-marker)
