@import 'variables/_colors.styl'
@import 'variables/_sizes.styl'
@import 'variables/_parameters.styl'
@import 'variables/_sprite.styl'
@import 'variables/_initiator.styl'

@import 'mixins/_rem.styl'
@import 'mixins/_media.styl'
@import 'mixins/_sprite.styl'
@import 'mixins/_composer.styl'

+composer(initiator__special)

  +composer(special__page-header)
    .page-header
      fixed(0, no, no, 0, page-header_z-index)
      size(100%, no)
      padding: rem(44px) 0
      background-color: transparent
      transition: all .37s cubic-bezier(0, 0, .58, 1)


  +composer(special__navbar)
    .navbar

      &__logo
        margin-right: rem(40px)

      &__toggle
        margin-left: auto


  +composer(special__app-logo)
    .app-logo
      font-weight: 700
      font-size: rem(24px)
      text-decoration: line-through


  +composer(special__navbar-list)
    .navbar-list

      &__item
        margin-right: rem(30px)

        &--last
          margin-right: 0

      &__link

        &:hover
          text-decoration: line-through


  +composer(special__slide-out-menu)
    .slide-out-menu
      fixed(0, no, no, -300px, slide-out-menu_z-index)
      size(300px, 100%)
      overflow-y: auto
      padding: rem(40px)
      background-color: slide-out-menu_bg-color
      transition: all .7s cubic-bezier(.545, 0, .05, 1)

      +wider(media-lg)
        left: rem(-380px)
        size(380px, no)


    .slide-out-menu-overlay
      display: none
      fixed(0, no, no, 0, slide-out-menu-overlay_z-index)
      size(100%, 100%)


  +composer(special__menu)
    .menu

      &__header
        margin-bottom: rem(40px)

      &__heading
        color: white_color

      &__toggle
        margin-left: auto

      &__button
        border-color: white_color
        color: white_color

        &:hover,
        &:active
          border-color: white_color
          background-color: white_color
          color: base_color


  +composer(special__menu-list)
    .menu-list
      margin-bottom: rem(20px)

      &__item
        margin-bottom: rem(16px)

        &--last
          margin-bottom: 0

      &__link
        color: white_color

        &:hover
          text-decoration: line-through


  +composer(special__sprite-icon-special)
    .sprite-icon

      &--arrow-left
        sprite-position(sprite-arrow-left)
        sprite-width(sprite-arrow-left)
        sprite-height(sprite-arrow-left)

      &--arrow-right
        sprite-position(sprite-arrow-right)
        sprite-width(sprite-arrow-right)
        sprite-height(sprite-arrow-right)

      &--butterfly
        sprite-position(sprite-butterfly)
        sprite-width(sprite-butterfly)
        sprite-height(sprite-butterfly)

      &--cat
        sprite-position(sprite-cat)
        sprite-width(sprite-cat)
        sprite-height(sprite-cat)

      &--cloud
        sprite-position(sprite-cloud)
        sprite-width(sprite-cloud)
        sprite-height(sprite-cloud)

      &--cloud3
        sprite-position(sprite-cloud3)
        sprite-width(sprite-cloud3)
        sprite-height(sprite-cloud3)

      &--marker
        sprite-position(sprite-marker)
        sprite-width(sprite-marker)
        sprite-height(sprite-marker)

  // Section 756px
  .customers
    padding-top: rem(130px)
    padding-bottom: rem(130px)
    background: #fafafa

  .testimonials
    font-family: 'Lato', sans-serif
    margin-bottom: rem(64px)
    &__heading
      font-size: rem(32px)
      font-weight: 300
      margin-bottom: rem(45px)
    &__text
      color: #8c8f94
      font-size: rem(20px)
      line-height: 1.4
      margin-bottom: rem(30px)
    &__author
      letter-spacing: tracking(100)
      font-size: rem(12px)
      text-transform: uppercase
      font-weight: 700

  .authors
    &__content
      margin-right: auto
      margin-left: auto
      // size(130px, 130px)
      transition: all 0.37s cubic-bezier(0.545, 0, 0.05, 1)
      transform: scale(0.7)

    &__image
      border: rem(1px) transparent solid
      border-radius: 50%
/*
  .slick-slide.slick-active.slick-current.click-center .authors__content
    transform: scale(1)
    opacity: 1
*/
