@import 'variables/_colors.styl'
@import 'variables/_sizes.styl'
@import 'variables/_parameters.styl'
@import 'variables/_initiator.styl'
@import 'mixins/_rem.styl'
@import 'mixins/_media.styl'
@import 'mixins/_composer.styl'
+composer(switch)
  +composer(slide-out-menu_open)
    .slide-out-menu
      &--open
        left: 0
    .slide-out-menu-overlay
      &--active
        position: fixed
        top: 0
        left: 0
        z-index: slide-out-menu-overlay_z-index
        display: block
        width: 100%
        height: 100%
