doctype html
// Test comment
h1.heading-clear
  | Heading

p.text-clear
  | Test text

// Comment
.image-example
  img#image.image-example__item(
    src='images/image.png'
    alt='Alt text'
    title='Title')
