@import 'styles/mixins/_rem.styl'
@import 'styles/mixins/_media.styl'
.foo
  width: rem(240px)
  +wider(768px)
    width: rem(576px)
.bar
  width: rem(240px)
@media (min-width: 768px)
  .bar
    width: rem(576px)
