doctype html
// Test comment
html
  head
  body
    h1.heading-clear Heading
    p.text-clear Test text
    // Comment
    .image-example
      img.image-example__item#image(src='images/image.png', alt='Alt text', title='Title')
