box-model = true
normalize = true
visually-hidden = true
base = true
baz-var = true
foo-var = true
bar-var = true
heading_clear = true
text_clear = true
link_clear = true
image_auto = true
button_clear = true
button = true
button_full-size = false
button_outline = true
button_rounded = true
slide-out-menu = true
menu = true

default = true
common = true
special = true
