// [START]

//* Box model level
//----------------------------------------------*/
initiator__box-model = true
////////


///* Normalize level
//----------------------------------------------*/
initiator__normalize = true
////////


//* Modular grid level
//----------------------------------------------*/
// See _modular-grid.styl
////////


///* Baze level
//----------------------------------------------*/
initiator__base = true
////////


///* Equalizer level
//----------------------------------------------*/
initiator__equalizer = true
//
//
heading_clear = true
//
text_clear = true
//
link_clear = true
//
list_clear = true
//
image_auto = true
//
button_clear = true
////////


///* Default level
//----------------------------------------------*/
initiator__default = true
//
//
section_base = true
example_button = true
line = true
////////


///* Common level
//----------------------------------------------*/
initiator__common = true
//
//
sprite-icon = false
example = true
////////


///* Special level
//----------------------------------------------*/
initiator__special = true
//
//
page-header = true
//
navbar = true
app-logo = true
//
navbar-list = true
//
slide-out-menu = true // required switch: slide-out-menu_open
menu = true
menu-list = true
//
sprite-icon_special = false
////////


///* Animation level
//----------------------------------------------*/
initiator__animation = false
////////
animation__bounce = false
animation__flash = false
animation__head-shake = false
animation__jello = false
animation__pulse = false
animation__rubber-band = false
animation__shake = false
animation__swing = false
animation__tada = false
animation__wobble = false
//


///* Animator level
//----------------------------------------------*/
initiator__animator = false
////////
animator__bounce = false
animator__flash = false
animator__head-shake = false
animator__jello = false
animator__pulse = false
animator__rubber-band = false
animator__shake = false
animator__swing = false
animator__tada = false
animator__wobble = false
//


///* Switch level
//----------------------------------------------*/
initiator__switch = true
//
//
page-header_active = true // depends on special: page-header
slide-out-menu_open = true // depends on special: slide-out-menu
//
navbar_toggle_responsive = false // depends on special: navbar, slide-out-menu
navbar_list_responsive = true
////////


///* Utility level
//----------------------------------------------*/
utility = true
//
//
text-align_center = true
////////


///* Forced level
//----------------------------------------------*/
forced = true
//
//
visually-hidden = true
////////


//
// [END]
