// [START]

//* Box model level
//----------------------------------------------*/
initiator__box-model = true
////////


///* Normalize level
//----------------------------------------------*/
initiator__normalize = true
////////


//* Modular grid level
//----------------------------------------------*/
// See _modular-grid.styl
////////


///* Baze level
//----------------------------------------------*/
initiator__base = true
////////


///* Equalizer level
//----------------------------------------------*/
initiator__equalizer = true
//
//
equalizer__heading-clear = true
equalizer__text-clear = true
equalizer__link-clear = true
equalizer__list-clear = true
equalizer__image-auto = true
equalizer__button-clear = true
////////


///* Default level
//----------------------------------------------*/
initiator__default = true
//
//
default__section-base = true
default__example-button = true
default__line = true
////////


///* Common level
//----------------------------------------------*/
initiator__common = true
//
//
common__sprite-icon = false
common__example = true
////////


///* Special level
//----------------------------------------------*/
initiator__special = true
//
//
special__page-header = true
special__navbar = true
special__app-logo = true
special__navbar-list = true
//
special__slide-out-menu = true // required switch__slide-out-menu-open
special__menu = true
special__menu-list = true
//
special__sprite-icon-special = false
////////


///* Animation level
//----------------------------------------------*/
initiator__animation = false
//
//
animation__bounce = false
animation__flash = false
animation__head-shake = false
animation__jello = false
animation__pulse = false
animation__rubber-band = false
animation__shake = false
animation__swing = false
animation__tada = false
animation__wobble = false
//
animation__bounce-in = false
animation__bounce-in-down = false
animation__bounce-in-left = false
animation__bounce-in-right = false
animation__bounce-in-up = false
//
animation__bounce-out = false
animation__bounce-out-down = false
animation__bounce-out-left = false
animation__bounce-out-right = false
animation__bounce-out-up = false
//
animation__fade-in = false
animation__fade-in-down = false
animation__fade-in-down-big = false
animation__fade-in-left = false
animation__fade-in-left-big = false
animation__fade-in-right = false
animation__fade-in-right-big = false
animation__fade-in-up = false
animation__fade-in-up-big = false
//
animation__fade-out = false
animation__fade-out-down = false
animation__fade-out-down-big = false
animation__fade-out-left = false
animation__fade-out-left-big = false
animation__fade-out-right = false
animation__fade-out-right-big = false
animation__fade-out-up = false
animation__fade-out-up-big = false
////////


///* Animator level
//----------------------------------------------*/
initiator__animator = false
//
//
animator__animated = false
animator__animated-infinite = false
//
animator__bounce = false
animator__flash = false
animator__head-shake = false
animator__jello = false
animator__pulse = false
animator__rubber-band = false
animator__shake = false
animator__swing = false
animator__tada = false
animator__wobble = false
//
animator__bounce-in = false
animator__bounce-in-down = false
animator__bounce-in-left = false
animator__bounce-in-right = false
animator__bounce-in-up = false
//
animator__bounce-out = false
animator__bounce-out-down = false
animator__bounce-out-left = false
animator__bounce-out-right = false
animator__bounce-out-up = false
//
animator__fade-in = false
animator__fade-in-down = false
animator__fade-in-down-big = false
animator__fade-in-left = false
animator__fade-in-left-big = false
animator__fade-in-right = false
animator__fade-in-right-big = false
animator__fade-in-up = false
animator__fade-in-up-big = false
//
animator__fade-out = false
animator__fade-out-down = false
animator__fade-out-down-big = false
animator__fade-out-left = false
animator__fade-out-left-big = false
animator__fade-out-right = false
animator__fade-out-right-big = false
animator__fade-out-up = false
animator__fade-out-up-big = false
////////


///* Switch level
//----------------------------------------------*/
initiator__switch = true
//
//
switch__page-header-active = true // depends on special__page-header
switch__slide-out-menu-open = true // depends on special__slide-out-menu
//
switch__navbar-toggle-responsive = false // depends on special: navbar, slide-out-menu
switch__navbar-list-responsive = true
////////


///* Utility level
//----------------------------------------------*/
initiator__utility = true
//
//
utility__text-align-center = true
////////


///* Forced level
//----------------------------------------------*/
initiator__forced = true
//
//
forced__visually-hidden = true
////////


//
// [END]
