doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Test
    link(rel='stylesheet' href='app.css')
  body
    h1 Test Pug
    p Lorem ipsum
    img(src='images/brunch-icon-mark.png')
  script(src='app.js')
