extends _base.pug
block title
  title Brunch
block main
  h1.heading.heading--clear.visually-hidden Brunch
  header.page-header
    .container
      .navbar.page-header__navbar
        a.link.link--clear.app-logo.navbar__logo(href='#') Brunch
        ul.list.list--clear.inline-list.navbar__list.navbar__list--responsive
          li
            a.link.link--clear(href='#') One link
          li
            a.link.link--clear(href='#') Two link
          li
            a.link.link--clear(href='#') Three
          li
            a.link.link--clear(href='#') Four element
          li
            a.link.link--clear(href='#') Five
        button.button.button--clear.button--outline.navbar__toggle.navbar__toggle--responsive.slide-out-menu-toggle(type='button') Menu
  .slide-out-menu-container
    nav.menu.slide-out-menu
      h2.heading.heading--clear.menu__title Navigation
      button.button.button--clear.button--outline.menu__button.slide-out-menu__toggle Close
      ul.list.list--clear.inline-list
        li
          a.link.link--clear(href='#') One link
        li
          a.link.link--clear(href='#') Two link
        li
          a.link.link--clear(href='#') Three
        li
          a.link.link--clear(href='#') Four element
        li
          a.link.link--clear(href='#') Five
    .slide-out-menu-overlay
  main.main
    section.section.section--base.home-section
      .container
        h2.heading.heading--clear.section__heading.home-section__heading Heading
        p.text.text--clear.section__text.home-section__text Lorem ipsum dolor
  footer.page-footer
    .container
      p.text.text--clear.copyright-text &copy; Ethcrawford 2018
